In [2]:
import numpy as np
import pandas as pd
import seaborn as sn

In [6]:
df = pd.read_csv('SteamGames.csv')
df['required_age'].unique()

array([ 0, 18, 16, 12,  7,  3], dtype=int64)

In [36]:
df1 = pd.read_csv('SteamGames.csv')
#Las columans que podemos eliminar son:
#steampsy_tags, achievements, average_playtime, median_playtime, owners, 'english
#ColsToDelete = ['steamspy_tags', 'achievements', 'average_playtime', 'median_playtime', 'owners', 'english', 'categories','required_age']
#df1 = df1.drop(ColsToDelete, axis= 1)
#print(df1['genres'])
#print(len(df1['genres'].unique()))
#df1.info()
#len(df1['genres'].unique())
#dfGen = df1['genres']

In [40]:
#len(df1['categories'].unique())
df1['categories']

0        Multi-player;Online Multi-Player;Local Multi-P...
1        Multi-player;Online Multi-Player;Local Multi-P...
2                    Multi-player;Valve Anti-Cheat enabled
3        Multi-player;Online Multi-Player;Local Multi-P...
4        Single-player;Multi-player;Valve Anti-Cheat en...
                               ...
27070                     Single-player;Steam Achievements
27071                                        Single-player
27072    Single-player;Multi-player;Co-op;Shared/Split ...
27073                            Single-player;Steam Cloud
27074                            Single-player;Steam Cloud
Name: categories, Length: 27075, dtype: object

In [37]:
dfGen.to_csv('Generos.csv')

In [16]:
#generos = (df1['genres'].str).split(';')
#SoloGeneros = generos.apply(lambda x: x[0])
#print(SoloGeneros.unique())

['Action' 'Indie' 'Strategy' 'RPG' 'Animation & Modeling' 'Casual'
 'Simulation' 'Racing' 'Adventure' 'Violent' 'Nudity' 'Free to Play'
 'Sports' 'Gore' 'Massively Multiplayer' 'Utilities'
 'Design & Illustration' 'Education' 'Web Publishing' 'Sexual Content'
 'Audio Production' 'Photo Editing' 'Early Access' 'Accounting'
 'Video Production' 'Software Training']
contamos con: 27075 generos diferentes en SteamGames.csv

In [18]:
#Ahora extramos los generos de games y comparamos que tal
df2 = pd.read_csv('VideoGamesSales.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         15848 non-null  float64
 6   EU_Sales         15520 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      15341 non-null  float64
 9   Global_Sales     15728 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [19]:
df2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,NaN,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,NaN,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
ListaGeneros = df2['Genre'].unique()
print(ListaGeneros)

['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy' nan]

numpy.ndarray

In [27]:
def LimpiezaData(Lista):
    return any(x in Lista.values for x in Lista)

In [33]:
dfGenreFiltrado = df1[df1.apply(LimpiezaData, axis=1)]
print(len(dfGenreFiltrado['genres'].unique()))

1552